html, body {
    margin: 0;
    padding: 0;
}

.genres {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;  
}

.box {
    flex-basis: 500px;
    height: 100px;
    text-align: center;
    font-size: 2em;
    line-height: 100px;
    flex-grow: 1;
}

.action {
    background-color: dodgerblue;
}

.thriller {
    background-color: rgb(190,178,178);
    flex-grow: 10;
}

.comedy {
    background-color: rgb(225,214,30);
    flex-grow: 10;
}

.horror {
    background-color: black;
    color: white;
}

.drama {
    background-color: darkgray;

}

.romance {
    background-color: red;
}







